body {
  margin: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

#demo-img {
  width: 200px;
  z-index: 1000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

div#personal-info {
  text-align: center;
  color: #8C489F;
}

div#personal-info > h2 > a {
  text-decoration: none;
  color: #C3C3E5;
}

div#content {
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #F1F0FF
}

div.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.header-bar {
  margin: 0;
  height: 75px;
  width: 100%;
  background: #443266;
  color: #C3C3E5;
  text-align: center
}

div.header-bar > h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 75px
}

div.create-navbar {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #C3C3E5;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #8C489F;
  height: 54px;
}

div.create-navbar > div:hover {
  color: #C3C3E5;
  cursor: pointer;
  background: #443266;
}

.nav-clicked {
  color: #C3C3E5;
  background: #443266;
}

div.create-navbar > div {
  padding: 0 15px;
}

@media (min-width: 375px) {
  body {
    display: flex;
    justify-content: center

  }
  div#content {
    width: 375px;
    height: 667px;
    margin: auto;
  }
}

div.home-screen-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.home-screen-div > p {
  margin: 30px 50px;
  text-align: center;
  font-size: 25px;
  color: #443266
}

div.home-screen-div > h3 {
  margin: 50px;
  text-align: center;
  font-size: 30px;
  color: #443266
}

div.home-screen-div > h3.home-link {
  color: #443266;
  background: #C3C3E5;
  padding: 20px;
  transition: color 500ms;
}

h3.create-link {
  color: #443266;
  background: #C3C3E5;
  padding: 20px;
  transition: color 500ms;
  border-radius: 10px;
}

h3.create-link:hover {
  cursor: pointer;
  color: #F1F0FF;
}

div.home-screen-div > h3.home-link:hover {
  cursor: pointer;
  color: #F1F0FF;
}

div.story-create-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.edit-canvas-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.canvas-container {
  position: relative;
}


div.react-color-picker__hue-spectrum {
  height: 0px;
  width: 30px;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
  margin-left: 10px;
  margin-top: 50px;
  transform: height 1000ms;
}

div.react-color-picker__hue-spectrum .react-color-picker__hue-drag {
  display: none !important;
}

div.color-box {
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  color: #C3C3E5;
  margin-left: 10px;
  margin-top: 10px;
}

div.color-box:hover {
  cursor: pointer;
}

#pen {
  font-size: 18px;
  text-align: center;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 30px;
  vertical-align: center
}

div.clear-canvas {
width: 30px;
height: 30px;
border-radius: 5px;
z-index: 1;
position: absolute;
right: 0;
top: 0;
background: transparent;
color: #443266;
font-size: 18px;
text-align: center;
line-height: 30px;
margin-top: 10px;
margin-right: 10px
}

div.clear-canvas:hover {
  cursor: pointer;
  color: #C3C3E5
}

div.save-card {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  color: lightgreen;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 15px;
  margin-right: 10px
}

div.save-card:hover {
  cursor: pointer;
  color: green;
}

canvas {
  box-sizing: border-box;
  border: 1px solid #C3C3E5;
  margin-top: 3px
}

canvas:hover {
  cursor: crosshair;
}

div.tiles-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%
}

img.tile-board-image {
  width: 95px;
  height: 150px;
  border: 2px solid #C3C3E5;
  margin: 13px;
  border-radius: 5px;
}

div.tile-board-add {
  width: 95px;
  height: 150px;
  border: 2px solid #C3C3E5;
  margin: 13px;
  border-radius: 5px;
  font-size: 50px;
  background: white;
  color: #C3C3E5;
  display: flex;
  transition: color 500ms, border-color 500ms;
}

div.tile-board-add:hover {
  color: #443266;
  border-color: #443266;
  cursor: pointer
}

div.tile-board-add > h2 {
  margin: auto;
}

div.save-canvas-item:hover {
  cursor: pointer
}

div.gif-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img.gif-item {
  width: 200px;
  height: 300px;
  border: 2px solid #C3C3E5;
  border-radius: 5px
}

div.blank-header-card {
  width: 350;
  height: 200;
  border: 2px solid #C3C3E5;
  background: white;
  border-radius: 5px;
  padding: 20px;
  color: #443266
}

div.action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.action > h3 {
  padding: 5px;
  margin: 10px;
  font-size: 30px;
  color: #443266;
}

div.action > h3:hover {
  background: #C3C3E5;
  cursor: pointer;
}

div.story-show-container {
  display: flex;
  flex-direction: column;
}

div.story-show-container > img {
  margin: 0 auto;
  width: 250px;
  height: 350px;
}

div.story-show-container > h3 {
  margin: 30px 40px;
  color: #443266;
  text-align: center;
}

#stroke-size {
  position: absolute;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #443266;
}

#stroke-size > i:hover {
  cursor: pointer;
  color: #C3C3E5
}

.hidden {
  display: none !important;
}

#stroke-width {
  position: absolute;
  margin-top: 10px;
  background: transparent;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: #443266
}

#stroke-width > div > i:hover {
  cursor: pointer;
  color: #C3C3E5
}

div.nav-button {
  padding: 0 15px;
  margin: 0;
}

div.nav-button > h3 {
  font-size: 20px;
  vertical-align: center;
  vertical-align: middle;
  line-height: 54px;
  padding: 0;
  margin: 0;
}

#play-button {
  color: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  margin-left: 20px;
}

#stop-square {
  color: #333;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 20px;
}

#stop-square:hover {
  color: #ffb3b3;
  cursor: pointer
}

#play-button:hover {
  color: #c2f0c2;
  cursor: pointer
}

.stop-red {
  color: #ff4d4d !important;
}

.play-green {
  color: #70db70 !important;
}

div.image-holder {
  position: relative;
}

div.action-holder {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

div.div-bars-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.div-bars {
  width: 50px;
  height: 20px;
  margin: 5px;
  color: white;
  text-align: center
}

div.div-bars:hover {
  cursor: pointer
}

#fast-div {
  background: #85e085;

}

#medium-div {
  background: #ffff66;
}

#slow-div {
  background: #ff6666;
}

#clock {
  color: #ffff66;
}

#clock:hover {
  cursor: pointer;
}

.clock-fast {
  color: #85e085 !important;
}

.clock-slow {
  color: #ff6666 !important;
}

.clock-medium {
  color: #ffff66 !important;
}

.md-18 { font-size: 18px !important; }
.md-24 { font-size: 24px !important; }
.md-36 { font-size: 36px !important;}
.md-48 { font-size: 48px !important;}
